<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <a v-link="{path:'/home'}">首页</a>
        <a v-link="{path:'/list'}">列表页</a>
        <router-view></router-view>
    </div>
</body>
<script src="../js/vue1.0.min.js"></script>
<script src="../js/vue-router.min.js"></script>
<template id="home">
    <h1>home</h1>
    <a v-link="{path:'/home/login'}">登陆</a>
    <a v-link="{path:'/home/reg'}">注册</a>
    <router-view></router-view>
</template>
<template id="list">
    <h1>list</h1>
    <a v-link="{path:'list/news/1'}">消息1</a>
    <a v-link="{path:'list/news/2'}">消息2</a>
    <router-view></router-view>
</template>
<template id="login">
    <h2>登陆</h2>
</template>
<template id="reg">
    <h2>注册</h2>
</template>
<script>
    var App = {};
    var router = new VueRouter;
    router.map({
       '/home':{
           component:{
               template:"#home"
           },
           subRoutes:{
               '/login':{
                   component:{
                        template:"#login"
                   }
               },
               '/reg':{
                   component:{
                       template:"#reg"
                   }
               }
           }
       },
        '/list':{
            component:{
                template:"#list"
            },
            subRoutes:{
                '/news/:id':{
                    component:{
                        template:'<div>消息{{$route.params.id}}</div>',
                        route:{
                            data(transition){
                                console.log(transition); //这个里面包括从哪来，和一些方法
                                console.log(this.$route.params.id); //这个可以拿到id
                                console.log(this.$route.path); //这个获取路径
                                console.log(this.$route.query); //这个获取所有参数
                            }
                        }
                    }
                }
            }
       }
    });
    router.start(App,"#app");
    //整加404跳转
    router.redirect({
        '/':'home'
    });
</script>
</html>